/* Navbar Style */
.navbar{
    background-color: black;
    padding: 1rem 8rem;
    font-size: 14px;
    z-index: 1000;
    

}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
    
}
#li.nav-item:nth-child(5) > a:nth-child(n){
    color: #fff;
    font-size: 1.1rem;
}
.vid{
    width: 100%;
    height: 100vh;
   overflow: hidden;
}
.vid video{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;

}
/* here goes the style of the body */
body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
.form{
    width: 300px;
}
.form .form-element {
    position: relative;
}
.form .form-element input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}
.form .form-element .toggle-password {
    position: absolut;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}
.form .form-element .toggle-password.active i.fa-eye {
display: none;
}

.form .form-element .toggle-password.active i.fa-eye-slash {
    display: inline;
}
.form .form-element .toggle-password.active i.fa-eye-slash {
    display: none;
}
.form .form-element .password-policies {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX( -50%);
    width: 90%;
    padding: 0px;
    height: 0px;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;    
}
.form .form-element .password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 180px;
}
.form .form-element .password-policies > div {
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
}
.form .form-element .password-policies > div.active{
    color: #111;
}
/* here start the style of the password farm */
h1{
    margin: 15px 0 25px;
    text-align: center;
    font-size: 30px;
}
input{
    color: #022255 !important;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus{
    box-shadow: 0 0 5px rgba(246, 8, 118, .8);
    border: 1px solid rgba(246, 8, 110, .8);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-horizontal{
    width: 320px;
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px #022255(0, 0, 0, .5);
}
.control-label{
    text-align: left !important;
    padding-bottom: 4px;
}
.progress{
    height: 3px !important;
}
.form-group{
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top: 5%;
    right: 8%;
}
.progress-bar-danger{
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}
.login-btn{
    width: 180px !important;
    background-image: linear-gradient(to right,#f6086e,#ff133a) !important;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 5px;
    padding: 8px 0;
}
.login-btn:hover{
    background-image: linear-gradient(to right, rgba(255,0,111,.8), rgba(247,2,43,.8)) !important;
    color: #fff;
}
.fa-eye{
    color: #022255;
    cursor: pointer;
}
.far{
	margin-top: 5px;
}
.ex-account p a{
 color: #f6086e;
 text-decoration: underline;   
}
.fa-circle{
    font-size: 6px;
}
.fa-check{
    color: #02b502;
}