body{
    background-image: url('img/background.jpg');
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    /* background: #1b1b1b; */
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    background-color: black;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    float: left;
    /* border-top-width: 13px; */
    /* border-top-style: solid; */
    padding-top: 10px;
    display: flex;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: black;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    /* font-size: 18px; */
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: black;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: -1;
        width: 100%;
        padding: 0 30px;
        color: #1b1b1b;
    }
    .content div {
        font-size: 40px;
        font-weight: 700;
    }
}
body {
    /* background: #ee0058; */
    font-family: "Raleway";
}
.center {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form {
    width: 300px;
}
.form .form-element {
    position: relative;
}
.form .form-element input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #888;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}
.form .form-element .toggle-password {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}
.form .form-element .toggle-password.active i.fa-eye {
    display: none;
}
.form .form-element .toggle-password.active i.fa-eye-slash {
    display: inline;
}
.form .form-element .toggle-password i.fa-eye-slash {
    display: none;
}
.form .form-element .password-policies {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 0px;
    height: 0px;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}
.form .form-element .password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 180px;
}
.form .form-element .password-policies>div {
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
    transition: all 300ms ease-in-out;
}
.form .form-element .password-policies>div.active {
    color: rgb(42, 148, 60);
}
h1{
    color: white;
  
}

.display-4{
    font-size: 25px;
    float: left;

}
#myBtn{
    border-style: inherit;
    border-width: 30%;
    padding-right: 0.2rem;
}
div.container:nth-child(n) > div:nth-child(n){
    margin-right: 800px;
    margin-left: 1px;
    padding-right: 0px;
    float: none;
    width: 30%;
    
}
#output > h2:nth-child(1) > center:nth-child(1){
    display:block;
    color: #fff;
    float: left;
}
i.fa:nth-child(1){
    padding-top: 0.9rem;
}
div.container:nth-child(n){
margin-left: 1px;
}